/*This section holds defaults applied to all CSS documents I work on*/

*   {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a   {
    text-decoration: none;
    color: inherit;
}

ul  {
    list-style: none;
}

/*This section holds the declarations needed to fill the whole browser vertically */

body    {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main   {
    background-color: gray;
    flex: 1;
}

/*Top blue box*/

.header {
    background-color: #1F2937;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
}

.logo   {
    color: #f9faf8;
}

.links  {
    color:#E5E7EB;
    display: flex;
    gap: 15px;
}

.top    {
    background-color: #1F2937;
    flex: 1;
    display: flex;
}

.top-left   {
    padding: 50px 0px 50px 100px;
}

.top-right  {
    padding: 50px 100px 50px 0px;
}

/*Mid white box*/
.mid    {
    background-color: white;
}

.mid-title  {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-images {
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.mid-image-one,
.mid-image-two,
.mid-image-three,
.mid-image-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-subtext    {
    text-align: center;
}
